/* headings font cdn */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/* paragraph fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

/* links fonts cdn */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* all headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
}

/* all p */
p {
  font-family: 'Comfortaa', cursive;
}

/* all links */
a {
  font-family: 'Quicksand', sans-serif;
}
